<a href="https://colab.research.google.com/github/shriraksha7/ShrirakshaM/blob/master/Untitled20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 1)1. Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [ ]:
 dict={}
n=int(input("enter the no of students"))
for i in range(n):
  name=input("Enter the name")
  marks=int(input("Enter the marks"))
  dict[name]=marks
print(dict)
d1=dict.items()
sort=sorted(d1,reverse=True);
print("The sorted dictionary is")
print(sort)

enter the no of students5
Enter the nameArni
Enter the marks95
Enter the nameSeema
Enter the marks96
Enter the nameTanu
Enter the marks92
Enter the nameZiva
Enter the marks88
Enter the nameYami
Enter the marks88
{'Arni': 95, 'Seema': 96, 'Tanu': 92, 'Ziva': 88, 'Yami': 88}
The sorted dictionary is
[('Ziva', 88), ('Yami', 88), ('Tanu', 92), ('Seema', 96), ('Arni', 95)]

 Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [ ]:
 dict={}
n=int(input("enter the no of employees"))
for i in range(n):
  name=input("Enter the name")
  marks=int(input("Enter the salary"))
  dict[name]=marks
print(dict)
d1=dict.items()
sort=sorted(d1);
print("The sorted dictionary is")
print(sort)

enter the no of employees5
Enter the nameSiya
Enter the salary20000
Enter the nameArni
Enter the salary20033
Enter the nameTina
Enter the salary25000
Enter the nameNaksha
Enter the salary21000
Enter the nameSiri
Enter the salary18000
{'Siya': 20000, 'Arni': 20033, 'Tina': 25000, 'Naksha': 21000, 'Siri': 18000}
The sorted dictionary is
[('Arni', 20033), ('Naksha', 21000), ('Siri', 18000), ('Siya', 20000), ('Tina', 25000)]

 Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary ascending order and sum, max, min and average of the salaries

In [ ]:
 import statistics
dict={}
n=int(input("enter the no of employees"))
for i in range(n):
  name=input("Enter the name")
  marks=int(input("Enter the salary"))
  dict[name]=marks
print(dict)
sort=sorted(dict.items(),key=lambda x:x[1]);
print("The sorted dictionary is")
print(sort)
print("The sum is")
print(sum(dict.values()))
print("the maximum is")
max_val=max(dict,key=dict.get)
print(max_val)
print("the minimum is")
min_val=min(dict,key=dict.get)
print(min_val)
 
mean= statistics.mean(dict.values()) 
 
print("The average of salary is",mean)

enter the no of employees5
Enter the nameSeema
Enter the salary20000
Enter the nameSiri
Enter the salary10000
Enter the nameTanvi
Enter the salary150000
Enter the nameRita
Enter the salary18000
Enter the nameZiva
Enter the salary25000
{'Seema': 20000, 'Siri': 10000, 'Tanvi': 150000, 'Rita': 18000, 'Ziva': 25000}
The sorted dictionary is
[('Siri', 10000), ('Rita', 18000), ('Seema', 20000), ('Ziva', 25000), ('Tanvi', 150000)]
The sum is
223000
the maximum is
Tanvi
the minimum is
Siri
The average of salary is 44600

 Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [ ]:
 dict={}
n=int(input("enter the no of employees"))
for i in range(n):
  name=input("Enter the name")
  marks=int(input("Enter the salary"))
  dict[name]=marks
print(dict)
res={key:val for key, val in dict.items() if val>2000 and val<4000}
print(res)

enter the no of employees5
Enter the nameSiri
Enter the salary4000
Enter the nameSam
Enter the salary2500
Enter the nameTanvi
Enter the salary1500
Enter the nameRavi
Enter the salary3000
Enter the nameSiya
Enter the salary4500
{'Siri': 4000, 'Sam': 2500, 'Tanvi': 1500, 'Ravi': 3000, 'Siya': 4500}
{'Sam': 2500, 'Ravi': 3000}

 Python program to convert a 3 digit number into words

In [ ]:
 d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'hundred',200:'twohundred',300:'threehundred',400:'fourhundred',500:'fivehundred',600:'sixhundred',700:'sevenhundred',800:'eighthundred',900:'ninehundred'}
num=int(input("Enter the integer between 1 to 999:"))
if (num<=20):
      print(d[num])
if(num>20 and num<1000):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])

Enter the integer between 1 to 999:99
ninty nine